<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuff - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    {% endblock %}
</head>

<body>
    <div class="row title-container">
        <h1 class="col-md-12 title"><a href="/" class="title-link">Shuff</a></h1>
        <div class="col-md-12" style="text-align: center;">
            <p>
                Refresh your playlists - same artists, different songs
            </p>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class="row contact-link-container">
        <div class="col-md-12">
            <a href="https://niallg.ie#contact" class="contact-link">Feedback/Contact</a>
        </div>
    </div>
</body>

</html>
