{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='shuffle.js')}}"></script>
{% endblock %}
{% block content %}
    <div class="row playlist-copy-container">
        <h4 class="col-md-12">Playlists</h4>
        <p class="col-md-12" style="margin-bottom: 0px;">Select a playlist to shuff</p>
    </div>    

    <div class="row playlists-container">
        {% for playlist in playlists['items']|sort(attribute='name') %}
        <div class="col-md-4" id="{{ playlist.id }}div">
            <button class="button shuff-btn playlist" id="{{ playlist.id }}"
                onclick="shuffle('{{ playlist.id }}', '{{ playlist.name }}')">{{ playlist['name'] }}</button>
        </div>
        {% endfor %}
    </div>
    
    <div class="row logout-container">
            <a href="/logout" class="col-md-12 logout">Logout</a>
    </div>
{% endblock %}